
<div mat-dialog-content >
    <div class="my-4 w-96">
        <div *ngIf="data.isProcessed" >
            <div class="flex items-center justify-center mb-4">
                <i class="material-icons text-8xl text-green-material">{{data.progressIcon}}</i>
            </div>
            <div class="flex items-center justify-center">
                <!-- The upload process would be taken a little time. Please wait... -->
                <div>{{data.progressMsg}}</div>
            </div>
            <div class="mt-4 mb-4">
                <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
            </div>
        </div>
        <div *ngIf="!data.isProcessed" class="">
            <div class="flex items-center justify-center mb-4">
                <i class="material-icons text-8xl text-green-material">check_circle_outline</i>
            </div>
            <div class="flex items-center justify-center">
                <div>{{data.doneMsg}}</div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions [align]="'end'" *ngIf="data.showDoneButton">
    <button mat-flat-button [mat-dialog-close]="false" [disabled]="data.isProcessed">Done!</button>
</div>