
<div mat-dialog-content >
    <div class="my-4">
        <div *ngIf="data.isProcessed">
            <div >
                <!-- The upload process would be taken a little time. Please wait... -->
                {{data.progressMsg}}
            </div>
            <div class="mt-4 mb-4">
                <mat-progress-bar mode="indeterminate" color="accent" ></mat-progress-bar>
            </div>
        </div>
        <div *ngIf="!data.isProcessed">
            <div >
                {{data.doneMsg}}
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button [mat-dialog-close]="false" [disabled]="data.isProcessed">Done!</button>
    <!-- <button mat-raised-button color="accent" [mat-dialog-close]="true">Ok</button> -->
</div>